@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap");

body {
  font-family: "Heebo", sans-serif;
  padding-top: 64px;
}

#nav {
  color: white;
}

.main-greeting {
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
