@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap");

body {
  font-family: "Heebo", sans-serif;
  padding-top: 61px;
  height: 100vh !important;
  background-color: black;
}

#nav {
  color: white;
}

.by {
  color: blue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  z-index: 100;
  font-size: larger;
}
.alerts {
  position: relative;
  width: 100vw;
}

.navbar {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.main-navbar {
  font-weight: bolder;
  font-size: larger;
}

.main-greeting {
  color: white;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-toggler {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.nav-link {
  display: inline-block;
  margin-right: 5px; /* Add or modify any margin/padding values as needed */
}

.navbar-expand-xl .navbar-nav .nav-link {
  padding-right: 0rem !important;
  padding-left: 0.5rem !important;
}
.heightHolder {
  height: 300px;
}

.hidden {
  display: none;
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid black;
}
.imageSelectScreen {
  margin-top: 5%;
}

.read-delete {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.continue {
  margin-right: 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  transition: background-color 99999s ease-in-out 0s;
}

// no more tokens page

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.my-5 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.flex-col {
  flex-direction: column;
}

.max-w-80 {
  width: 70%;
  max-width: 800px;
}
.w-100 {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bg-white {
  background-color: white;
}

.rounded-full {
  border-radius: 9999px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.max-h-30 {
  max-height: 30vh;
}

.textwhite {
  color: white;
  font-weight: 800;
}

.outImage {
  display: block;
  margin: 0 auto;
  min-width: 80%;
  max-width: 100%;
  max-height: 30%;
}
.opacity-100 {
  opacity: 1;
}

.text-blue-400 {
  color: #3b82f6;
}

.outOfTokens {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}

.outOfTokens p {
  margin: 0;
}

.text-left {
  text-align: left;
  align-items: left !important;
}
