.main-footer {
  color: white;
  background-color: rgb(33, 37, 41);
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
}
