.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
}


.overflow-adventure {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}