.game-log {
  min-height: 40vh;
}
.buttons {
  margin-top: 20px;
}



#character-card:hover #character-overlay {
  display: block;
}

#character-overlay {
  display:none;
  background-color: rgba(0,0,0,0.4);
  color: white;
  font-weight: bolder;
}
