.character-list {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* margin-left: 150px;
  margin-right: 150px;
  justify-content: space-evenly; */

  overflow-x: scroll;
}

.character-list::-webkit-scrollbar {
  display: none;
}

