.entry-key0 {
  color: green;
}

.entry {
  white-space: pre-line;
}

.entry-key1 {
  color: blue;
}

.entry-key2 {
  color: green;
}
.entry-key3 {
  color: blue;
}

.entry-key4 {
  color: red;
}
.entry-key5 {
  color: green;
}

.entry-key6 {
  color: blue;
}

.entry-key7 {
  color: red;
}
.entry-key8 {
  color: green;
}

.entry-key9 {
  color: blue;
}

.entry-key10 {
  color: red;
}
.entry-key11 {
  color: green;
}
