.entry-key0 {
  color: green;
  
}

.entry {
  white-space: pre-line;
  background-color: rgb(255, 251, 251, 1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: black 0px 0px 15px;
  font-weight: bold;
}


.entry-key1 {
  color: blue;
}

.entry-key2 {
  color: green;
}
.entry-key3 {
  color: blue;
}

.entry-key4 {
  color: red;
}
.entry-key5 {
  color: green;
}

.entry-key6 {
  color: blue;
}

.entry-key7 {
  color: red;
}
.entry-key8 {
  color: green;
}

.entry-key9 {
  color: blue;
}

.entry-key10 {
  color: red;
}
.entry-key11 {
  color: green;
}

#adventure-log{
  background-color: 1px solid blue;
}

.card{
  background-color: rgb(255, 255, 255, 0.2);
  color: white;
  padding: 20px;
}