.section-profile {
  color: white;
  font-size: larger;
  line-height: 1.6;
}

.profile-img {
  display: block;
  max-width: 300px;
  margin: 50px auto;
  border-radius: 50%;
}

.profile-connections {
  letter-spacing: 3px;
}

.social-button img {
  width: 50px;
}
.circular-square {
  border-radius: 50%;
  border: 5px white solid;

  display: block;
  max-width: 300px;

  width: 300px;
  height: 300px;
}

.center-me {
  display: flex;
  justify-content: center;
}

.modal-content {
  background-color: #212529;
  color: white;
  text-align: center;
}
.modal-header {
  text-align: center;
  border-bottom: none;
}
.modal-title {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
.btn-close {
  display: none;
}
