.section-profile {
    color: white;
    font-size: larger;
    line-height: 1.6;
}

.profile-img {
    display: block;
    max-width: 300px;
    margin: 50px auto;
    border-radius: 50%;
}

.profile-connections {
    letter-spacing: 3px;
}

.social-button img {
    width: 50px;
}