.section-tutorial {
    text-align: center;
    padding: 100px 50px;
    color: white;
    max-width: 700px;
    line-height: 1.6;
    font-size: larger;
}

.tutorial__content {
    margin-bottom: 40px;
}

.tutorial__title {
    font-size: 72px;
    margin-bottom: 50px;
}

.tutorial__heading {
    font-size: 46px;
}

@media (max-width: 991px) {
    .section-tutorial {
        padding: 100px 20px;
    }

    .tutorial-title {
        font-size: 56px;
    }
}