.section-explore {
    color: white;
}

.user-card {
    width: 600px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 50px;
    font-size: larger;
  
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;    
}

.user-card__img {
    padding: 15px;

}

.user-card__img img {
    /* border-radius: 50%; */
    width: 150px; 
    height: 150px;
}

.circular-square {
  border-radius: 50%;
  border: 5px white solid;
}