.section-explore {
    color: white;
}

.users-list {
    padding: 20px;
    overflow-x: scroll;
}

.users-list::-webkit-scrollbar {
    display: none;
}

.user-card {
    /* width: 400px; */
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: larger;
  
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px; 
    transition: all 0.3s ease;   
}

.user-card:hover {
    transform: scale(1.06);
}

.user-card__img {
    /* padding: 15px;
    display: flex; */
}


.user-card__img img {
    /* border-radius: 50%; */
    width: 150px; 
    height: 150px;
}

.circular-square {
  border-radius: 50%;
  border: 5px white solid;
}